.env
tmp*/
__pycache__/
scripts/__pycache__/
*.pyc
translations/
tmp*.py
tmp*.ipynb
.vscode/
*.html
tasks/phase1/*
!tasks/phase1/*.jsonl
*.log
tasks/
Proc2.ipynb
_Proc2.ipynb
*.json
alignments/
it-el.mhtml
it-el.txt

direct_results/
direct_triplets/
post_results/
post_triplets/
source.zip
source/
source2reference.zip
source2reference/
source2translations.zip
source2translations/
target.zip
target/
time_results/
translations.zip

aligned_results_no_sent_split/
aligned_results_sent_split/
aligned_triplets_no_sent_split/
aligned_triplets_no_sent_split_LaBSE/
aligned_triplets_sent_split/
en2fi.txt
final_results.zip
final_triplets.zip
final_triplets/
source2reference_sent_split/
source2translations_no_sent_split/
source2translations_no_sent_split_LaBSE/
source2translations_sent_split/